$cor_amarelo_padrao: #ffc107 !important;
$cor_amarelo_claro: #ffd65b !important;
$cor_amarelo_escuro: #e7b00a !important;

$cor_escura_padrao: #343a40 !important;
$cor_escura_forte: #282b2e !important;
$cor_escura_noite: #1a1b1d !important;
